<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Editing <%= review.itemName %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="edit-body">
        <h1>Edit <%= review.itemName %></h1>
        <form action="/users/<%= user._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">

        <label for="bodySize">My Typical Size:</label>
        <input type="text" name="bodySize" id="bodySize" value="<%= review.bodySize %>"required>

        <label for="bodyHeight">My Height:</label>
        <input type="text" name="bodyHeight" id="bodyHeight" value="<%= review.bodyHeight %>">

        <label for="bodyWeight">Weight:</label>
        <input type="text" name="bodyWeight" id="bodyWeight" value="<%= review.bodyWeight %>">

        <label for="bodyType">Body Type:</label>
        <select id="bodyType" name="bodyType">
            <option value="hourglass" <%=review.bodyType==="Hourglass" ? "selected" : "" %>
                >
                Hourglass
            </option>
            <option value="rectangle" <%=review.bodyType==="Rectangle" ? "selected" : "" %>
                >
                Rectangle
            </option>
            <option value="inverted Triangle" <%=review.bodyType==="Inverted Triangle" ? "selected" : "" %>
                >
                Inverted Triangle
            </option>
            <option value="pear" <%=review.bodyType==="Pear" ? "selected" : "" %>
                >
                Pear
            </option>
            <option value="apple" <%=review.bodyType==="Apple" ? "selected" : "" %>
                >
                Apple
            </option>
             </select>

            <label for="itemName">Item Name:</label>
            <input type="text" name="itemName" id="itemName" value="<%= review.itemName %>">

            <label for="itemSize">Item Size:</label>
            <input type="text" name="itemSize" id="itemSize" value="<%= review.itemSize %>">

            <label for="itemReview">Review:</label>
            <textarea name="itemReview" id="itemReview"><%= review.itemReview %></textarea>

            <label for="itemLink">Item Link:</label>
            <input type="text" name="itemLink" id="itemLink" value="<%= review.itemLink %>">

            <label for="recommendation">Recommendation:</label>
            <select id="recommendation" name="recommendation">
                <option value="purchase" <%=review.recommendation==="Purchase" ? "selected" : "" %>
                    >
                    Purchase
                <option value="do not purchase" <%=review.recommendation==="do not purchase" ? "selected" : "" %>
                    >
                    Do Not Purchase
                <option value="still deciding" <%=review.recommendation==="still deciding" ? "selected" : "" %>
                    >
                    still deciding
                </option>
            </select>
            <button type="submit">Update Review</button>
            </form>
            </div>
</body>

</html>