<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Style File</title>
  </head>
  <body style="background-image: url('/images/(1).png'); background-size: contain; background-position: center; background-repeat: no-repeat;">
    <%- include('../partials/_navbar.ejs') %>
    
    <div class="style-file-content">
        <h1 class="style-file-header"><%= user.username %>'s Style File</h1>
        <% if (reviews && reviews.length > 0) { %>
            <ul class="style-file-list">
                <% reviews.forEach(review => { %>
                    <li>
                        <a class="style-file-link" href="/users/<%=user.id%>/reviews/community/<%=user.id%>/<%=review.id%>">
                            <%= review.itemName %>
                        </a>
                    </li> 
                <% }) %>
            </ul>
        <% } else { %>
            <p class="empty-message">EMPTY STYLE FILE</p>
        <% } %>
        <a class="back-link" href="/">Back to My Style File</a>
    </div>
</body>
</html>